<%= simple_form_for @van, html: { class: "form-card p-4 bg-white shadow-lg" } do |f| %>
  <h1 class="mb-4 text-center fw-bold text-dark">
    <%= @van.new_record? ? "Add a new Van" : "Edit \"#{@van.title}\"" %>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :title, label: "Title", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :model, label: "Model", input_html: { class: "form-control" } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :price, label: "Price (€)", input_html: { step: 0.01, class: "form-control" } %>
    </div>
    <div class="col-md-3">
      <%= f.input :seats, label: "Seats", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-3">
      <%= f.input :size, label: "Size", input_html: { class: "form-control" } %>
    </div>
  </div>

  <%= f.input :description, as: :text, label: "Description", input_html: { class: "form-control", rows: 4 } %>

  <%= f.input :photos, as: :file, label: "Upload Photos", input_html: { multiple: true, class: "form-control" } %>

  <%= f.button :submit, class: "btn btn-primary-cta w-100 mt-3" %>
<% end %>
