<div class="container mt-5">
  <h1 class="text-left mb-5 fw-bold">Explore Our Vans</h1>

  <div class="row">
    <% @vans.each do |van| %>
      <div class="col-md-4 mb-4">
        <div class="van-card">
          <% if van.photos.attached? %>
            <%=  cl_image_tag van.photos.first.key, class: "img-fluid" %>
          <% else %>
            <%#= image_tag "sample_van.jpg", class: "img-fluid" %>
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= van.title %></h5>
            <p class="card-text"><%= truncate(van.description, length: 100) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to "View", van_path(van), class: "btn btn-primary-cta" %>
              <%= link_to "Reserve", new_van_booking_path(van), class: "btn btn-cta-blue" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
