<h1>Please have a look at all the details of <%= @van.title %></h1>
<% if @van.photos.attached? %>
  <% @van.photos.each do |photo| %>
    <%= image_tag photo, width: 400 %>
  <% end %>
<% else %>
  <p>No photos attached.</p>
<% end %>
<ul>
  <li><strong>Title:</strong> <%= @van.title %></li>
  <li><strong>Description:</strong> <%= @van.description %></li>
  <li><strong>Price:</strong> <%= number_to_currency(@van.price) %></li>
  <li><strong>Seats:</strong> <%= @van.seats %></li>
  <li><strong>Size:</strong> <%= @van.size %></li>
</ul>

<%= link_to "Back to Vans list", vans_path %>
<%= link_to "Back to Home page", root_path %>
