<%= simple_form_for [@van, @booking], html: { class: "booking-form" }, local: true do |form| %>
  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.input :van_title, label: "Van", input_html: { value: @van.title, class: "form-control", disabled: true } %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.input :van_model, label: "Model", input_html: { value: @van.model, class: "form-control", disabled: true } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.input :start_date, as: :date, label: "Start Date", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.input :end_date, as: :date, label: "End Date", input_html: { class: "form-control" } %>
    </div>
  </div>

  <%= form.button :submit, class: "btn btn-primary-cta w-100 mt-3" %>

  <small class="form-text text-muted d-block mt-2 text-center">
    You won’t be charged yet. <br>
    We’ll contact you within 24 hours to confirm your booking.
  </small>
<% end %>
