<%= simple_form_for [@van, @booking], html: { class: "p-4 bg-white rounded shadow-lg" }, local: true do |form| %>
  <div>
    <%= form.label :van_name, "Van" %><br>
    <%= text_field_tag :van_name, @van.title, disabled: true %>
  </div>

  <div>
    <%= form.label :van_model, "Model" %><br>
    <%= text_field_tag :van_name, @van.model, disabled: true %>
  </div>

  <div>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </div>

  <%= form.submit "Reserve", class: "btn btn-primary-cta w-100 mt-3" %>
    <small class="form-text text-muted d-block mt-2">
    You won't be charged yet. <br>
    We'll contact you within 24 hours to confirm your booking details.
  </small>
<% end %>
