<!DOCTYPE html>
<html>
  <head>
    <title>GetAVan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% type = case key
          when "notice" then "success"
          when "alert" then "danger"
          else "info"
          end %>
      <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
